/BankingSystem/BankingSystem/obj
/BankingSystem/BankingSystem/bin
/BankingSystem/BankingSystem.Business/obj
/BankingSystem/BankingSystem.Business/bin
/BankingSystem/BankingSystem.DAL/obj
/BankingSystem/BankingSystem.DAL/bin
/BankingSystem/BankingSystem.Tests/obj
/BankingSystem/BankingSystem.Tests/bin
/BankingSystem/packages
/BankingSystem/.vs
/BankingSystem/BankingSystem/App_Data
/BankingSystem/BankingSystem.Common/obj
/BankingSystem/BankingSystem.Common/bin
